
<div class="main-banner">
    <div class="owl-carousel owl-banner">
        <div class="item item-1">
            <div class="header-text">
                <span class="category" style="background-color:transparent;"> <em></em></span>
                <h2>Sağlık ve Hijyende<br>Epoksi Uygulaması</h2>
            </div>
        </div>
        <div class="item item-2">
            <div class="header-text">
                <span class="category" style="background-color:transparent;"> <em></em></span>
                <h2 style="color:wheat;">Sağlık ve Hijyende<br style="color:darkgray;">Epoksi Uygulaması</h2>
            </div>
        </div>
        <div class="item item-3">
            <div class="header-text">
                <span class="category" style="background-color:transparent;"> <em></em></span>
                <h2><br /><br /><br /><br /><br /></h2>
            </div>
        </div>
    </div>
</div>

<div class="featured section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-image">
                    <img src="~/AsilSite/assets/images/epoksi.png" alt="">

                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>| Öne Çıkarılanlar</h6>
                    <h2>Sıkça Sorulan Sorular</h2>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Ne Yapıyoruz?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Üç yılı aşkın geniş deneyimizle birlikte, <a href="https://www.grada.com.tr/tr/index.html" target="_blank">Grada</a> markasının bölge distribütörü olarak yalıtım alanında Elazığ ve bölgemizde sağlığınız için çalışıyoruz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Neden Epoksi?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Genellikle iki bileşenli olan epoksiler, diğer termoset plastikler gibi belli süre sonra sıvı halden katı hale geçer ve takibeden bir iki hafta içinde olgunlaşarak nihai sertliğe ulaşır. Cam veya karbon elyafı ile epoksi kombinasyonu mükemmel mekanik dayanıklılığa sahiptir. Bu yüzden uzay ve havacılık teknolojilerinde ve denizcilik alanında çok kullanılır. <a href="https://tr.wikipedia.org/wiki/Epoksi" target="_blank">Epoksi</a>, inşaat alanında da yaygın kullanılan bir malzemedir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Su Tanklarına Neden Epoksi Kaplama Yapılmalı?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Galvanizli ve krom su depolarının iç yüzeyleri zamanla suyun kimyasallığından dolayı aşılmalara ve paslanmalara uğrar. Epoksi Uygulamaları ile tepkimelere karşı dayanıklı, bakteri üretmeyen, yosun tutmayan dirençli yüzeyler elde edilir.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="info-table">
                    <ul>

                        <li>
                            <img src="~/AsilSite/assets/images/info-icon-02.png" alt="" style="max-width: 52px;">
                            <h4>Sözleşme<br><span>İşe başlamadan Önce</span></h4>
                        </li>
                        <li>
                            <img src="~/AsilSite/assets/images/info-icon-03.png" alt="" style="max-width: 52px;">
                            <h4>Ödeme<br><span>%50 peşinat</span></h4>
                        </li>
                        <li>
                            <img src="~/AsilSite/assets/images/info-icon-04.png" alt="" style="max-width: 52px;">
                            <h4>Garanti<br><span>5 Yıllık Garanti</span></h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to="20" data-speed="1000"></h2>
                                <p class="count-text ">Bitmiş<br>Proje</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2 class="timer count-title count-number" data-to="3" data-speed="1000"></h2>
                                <p class="count-text ">Yıllık<br>Deneyim</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section best-deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>| Yalıtım Alanlarımız </h6>
                    <h2>Sağlığınız İçin Yalıtım Uygulayabileceğimiz Alanlar!</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab" data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment" aria-selected="true">Su Tankı ve Deposu</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false"> Havuz Yalıtımı </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab" data-bs-target="#penthouse" type="button" role="tab" aria-controls="penthouse" aria-selected="false">Zemin Yalıtımı</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="penthouse-tab2" data-bs-toggle="tab" data-bs-target="#penthouse2" type="button" role="tab" aria-controls="penthouse" aria-selected="false">Teras Yalıtımı</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>ODTÜ Sağlık Raporu <span> <a href="https://www.grada.com.tr/dosyalar/site_resim/veri/galeri/buyuk/4621395.jpg" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>ISO 9001 Sertifikası <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/ISO%209001%202020.png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>TSE Raporu <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/BT2K%20TSE%20R..png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="div">
                                            <img src="~/AsilSite/assets/images/tank.jpg" alt="">
                                            <img src="~/AsilSite/assets/images/grada2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Neden Su Tankı ve Deposu Yalıtımı</h4>
                                        <p>
                                            Su deposu, suyun depolanması ve kullanılması gibi konularda önemli rol oynar. Fakat bu sistemin doğru biçimde izole edilmemesi, türlü sorunlara yol açabilir. Su depolarının düzgün bir biçimde yalıtılması, suyun kalitesini ve hijyenini koruma meselesinde mühimdir. Su deposu iç izolasyonu, depoyu potansiyel tehlikelerden uzak tutmak için kullanılır.
                                            <br><br>Bunun yanında diğer bir sorun da sızan su ile mantar oluşumunun başlamasıdır. Su, insan sağlığı için bu tür oluşumlardan korunmalıdır. Bu yüzden su tankları hem dış yüzeyden hem de tank içinden su yalıtımına ihtiyaç duymaktadır.
                                        </p>
                                        <div class="icon-button">
                                            <a asp-controller="Home" asp-action="Detay"><i class="fa fa-calendar"></i> İncele</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>ODTÜ Sağlık Raporu <span> <a href="https://www.grada.com.tr/dosyalar/site_resim/veri/galeri/buyuk/4621395.jpg" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>ISO 9001 Sertifikası <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/ISO%209001%202020.png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>TSE Raporu <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/BT2K%20TSE%20R..png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="div">
                                            <img src="~/AsilSite/assets/images/epoksiResim2.jpg" alt="">
                                            <img src="~/AsilSite/assets/images/havuz.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Neden Havuz Yalıtımı</h4>
                                        <p>
                                            Havuz su yalıtımı, bir havuzun su sızdırmazlığını sağlamak amacıyla yapılan bir uygulamadır. Havuzlar sürekli olarak su ile temas halindedir ve bu nedenle suyun sızmasını önlemek büyük önem taşır. Yüzme havuzlarında yapılan su yalıtımı, aşağıdaki nedenlerden dolayı önemlidir:
                                            <br><br> <strong>Su Kaybını Önler:</strong> Havuzlardaki su kaybı, hem maddi hem de işletme açısından büyük bir sorundur. Su sızıntısı veya buharlaşma nedeniyle su seviyesinin sürekli olarak düşmesi, havuzun sürekli olarak su eklenmesini gerektirir ve su faturasının artmasına yol açar. Doğru su yalıtımı, suyun havuz içinde kalmasını sağlar ve su kaybını önler.
                                        </p>
                                        <div class="icon-button">
                                            <a asp-controller="Home" asp-action="Detay"><i class="fa fa-calendar"></i> İncele</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>ODTÜ Sağlık Raporu <span> <a href="https://www.grada.com.tr/dosyalar/site_resim/veri/galeri/buyuk/4621395.jpg" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>ISO 9001 Sertifikası <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/ISO%209001%202020.png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>TSE Raporu <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/BT2K%20TSE%20R..png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="div">
                                            <img src="~/AsilSite/assets/images/zemin.jpg" alt="">
                                            <img src="~/AsilSite/assets/images/zemin2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Neden Zemin Yalıtmı</h4>
                                        <p>
                                            Daha Güçlü ve Daha Uzun Ömürlü Yapılar
                                            Isı yalıtımı, ısı hareketlerini ve buhar yoğuşmasını azaltır. Bu da, yapıda oluşabilecek nem, küflenme, donma, bozulma, demir aksamının çürümesi gibi korozyonların önüne geçerek yapının korunmasına yardımcı olur. Isı yalıtımı sayesinde yapınızın ömrü uzar ve dayanıklılığı artar, böylece deprem güvenliğini sağlamaya da katkıda bulunur.<br><strong>İnsan Sağlığına Olumlu Etki</strong>Yapınıza doğru ısı yalıtımı yaptırarak sağlayacağınız iç mekanlar arasındaki homojen ısı dağılımı, yaşam alanlarınızdaki konforu artırır.<br >Bununla beraber, yapının dışına yapılan ısı yalıtımı; insan sağlığı üzerinde olumsuz etki yaratabilecek nem, küf, mantar, rutubet, tozlanma, gürültü, hava kirliliği gibi faktörlerin de oluşmasını önler.
                                        <p>
                                            <div class="icon-button">
                                                <a asp-controller="Home" asp-action="Detay"><i class="fa fa-calendar"></i> İncele</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="penthouse2" role="tabpanel" aria-labelledby="penthouse-tab2">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>ODTÜ Sağlık Raporu <span> <a href="https://www.grada.com.tr/dosyalar/site_resim/veri/galeri/buyuk/4621395.jpg" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>ISO 9001 Sertifikası <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/ISO%209001%202020.png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                                <li>TSE Raporu <span><a href="https://www.grada.com.tr/dosyalar/web_dosya/BT2K%20TSE%20R..png" target="_blank" style="color:darkorange;">İncele</a></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="div">
                                            <img src="~/AsilSite/assets/images/teras.jpg" alt="">
                                            <img src="~/AsilSite/assets/images/teras2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Neden Teras Yalıtımı</h4>
                                        <p>
                                            Teraslarda su yalıtımı, yapıların dayanıklılığını artıran ve olumsuz hava koşullarının neden olduğu hasarları önlemek için hayati öneme sahiptir. Teraslar, dış etkenlere açık alanlar olduğu için yağmur, kar, nem ve diğer hava koşullarına karşı oldukça hassastır.<br> <strong>Yapının Dayanıklılığını Artırır:</strong>  Su yalıtımı yapılarınızın uzun ömürlü olmasını sağlar. Su sızıntısı nedeniyle oluşan çürümeler, çatlaklar ve bozulmalar yapıların dayanıklılığını azaltabilir. Su yalıtımı sayesinde yapılar daha uzun süre dayanıklı kalır.
                                        </p>
                                        <div class="icon-button">
                                            <a asp-controller="Home" asp-action="Detay"><i class="fa fa-calendar"></i> İncele</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h3> <a asp-controller="Home" asp-action="Iletisim" style="color:darkorange;">| Bize Ulaşın</a> </h3>
                    <h2>Bir Telefon Kadar Uzağınızdayız!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="map">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.0779072898763!2d39.22200547587992!3d38.6700775600851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4076c0779acaee81%3A0xf2bb2140a85327f!2zU2FyYXlhdGlrLCBBZG5hbiBPcmFrw6fEsW_En2x1IENkLiBObzoyMiBEOmEsIDIzMTAwIEVsw6J6xLHEnyBNZXJrZXovRWxhesSxxJ8!5e0!3m2!1str!2str!4v1709749220983!5m2!1str!2str" width="100%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="item phone">
                            <img src="~/AsilSite/assets/images/phone-icon.png" alt="" style="max-width: 52px;">
                            <h6><a href="tel:05322251249" style="color:black;">0(532) 225 12 49</a> <br><span>Telefon Numaramız</span></h6>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="item email">
                            <img src="~/AsilSite/assets/images/email-icon.png" alt="" style="max-width: 52px;">
                            <h6><a href="mailto:asilinsaatyapiyalitim@gmail.com" style="color:black;">asilinsaatyapiyalitim@gmail.com</a>  <br><span>Email Adresimiz</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

