


<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="~/AsilSite/assets/images/biz3.jpg" alt="About 1">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11" style="color:black">

                        <h2 class="mb-3">Biz Kimiz?</h2>
                        <p style="text-align:justify; font-size:25px;">
                            &emsp; &emsp; &emsp;

                            Asil İnşaat Yapı & Yalıtım 2021 yılından beri <strong>yalıtım </strong> ve <strong>epoksi</strong> uygulamaları ile başta Elazığ olmak üzere bölge illerde sağlığınız için kaliteli ve güvenilir hizmet anlayışıyla faaliyetlerini sürdürmektedir.

                        </p>
                        <br />
                        <p style="text-align:justify; font-size:20px;">
                            &emsp; &emsp; &emsp;

                            Misyonumuz: Müşterilerimize, yapı güçlendirmede ve su yalıtımında kullanılan en kaliteli ürünleri sağlayarak, yapı sektöründe güvenilir bir çözüm ortağı olmak. Vizyonumuz: Bina güçlendirme ve su yalıtımı kategorilerinde sektörde öncü bir konuma gelerek, sürekli gelişen ve büyüyen bir firma olmak.<br /> <br />&emsp; &emsp; &emsp; Müşterilerin ihtiyacını karşılamayacak ürünleri portföyümüze almıyoruz. Doğru ürünü doğru müşteriyle buluşturmayı kendimize gaye edinmiş durumdayız.
                            <br /> <br />&emsp; &emsp; &emsp; Firmamız su, ses, ısı ve yangın yalıtımı alanında sektörün önde gelen markalarından olan <a href="https://www.grada.com.tr/tr/index.html" target="_blank" style="color:black"> <strong>Grada</strong></a> Yapı Kimyasallarının bölge distribütörü olarak halkımızın sağlığı için hizmet vermektedir.

                        </p>
                        <br>
                        <p style="text-align:justify; font-size:20px;">
                            <strong style="color:red;">İletişim Bilgilerimiz</strong> Sarayatik Mahallesi Adnan Orakçıoğlu Caddesi No:22/A <br /> Telefon:<a href="tel:05322251249" style="color:black;">0(532) 225 12 49</a>  E-Posta:<a href="mailto:asilinsaatyapiyalitim@gmail.com" style="color:black;">    asilinsaatyapiyalitim@gmail.com</a> <br /> Elazığ/Merkez
                            <br /> Sizlere daha iyi hizmet verebilmek için azim ve süreklilikle gayret ediyoruz.


                        </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>